.person {
    height: 200px;
    background: #aaa;
}

.pic_preview {
    padding-top: 1em;
    padding-bottom: 2em;
}

.product_picture{
    padding-bottom: 3em;
}

.paybutton{
    height: 2em;
}

.qrdiv{
    width:50%;
    padding-left: 25%;
    padding-right: 25%;
}

.payAddress{
    word-wrap: break-word;
}